:root {
  --branding-color: #092532;
  --secondary-color: #89c9b8;
}

.Weather {
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 11px 19px 3px rgba(137, 201, 184, 0.5);
  padding: 20px 10px;
  color: var(--branding-color);
  font-family: Arial, Helvetica, sans-serif;
}

.Weather h1 {
  margin: 20px 0;
  font-size: 50px;
  font-weight: 600;
  color: var(--branding-color);
}

.Weather .temperature {
  font-size: 64px;
  color: var(--branding-color);
  margin-left: 10px;
  line-height: 64px;
}

.Weather .temperature-col {
  margin-top: 50px;
  margin-left: 30px;
}

.Weather .unit {
  color: var(--branding-color);
  font-size: 16px;
  position: relative;
  top: -34px;
}

.Weather .currentCondition {
  text-transform: capitalize;
}

.Weather .humidity,
.wind {
  color: var(--secondary-color);
}
